*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.nav-container{
    background-color: gray;
    padding: 20px 0px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menus{
    list-style: none;

    display: flex;
    gap: 1vw;
}
.menus li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: lighter;
}
.menus li a:hover{
    text-decoration: underline;
}
/* ============================================================================== */

/* banner styles down here  */
.banner-container{
    height: 100vh;
    background-image: url("./asset/image/background.jpg"),linear-gradient(rgba(0, 0, 0, 0.308),rgba(0, 0, 0, 0.384));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-info{
    width: 50vw;
    text-align: center;
}
.primary{
    color: red;
}
.title{
    font-size: 55px;
    font-weight: bold;
    color: white;
}
.description{
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 18px;
}
.btn{
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}
.bg-primary{
    background-color: red;
    color: white;
}
/* ============================================================================================== */
/* banner styles up here */
