*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.nav-container{
    background-color: gray;
    padding: 20px 0px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menus{
    list-style: none;

    display: flex;
    gap: 1vw;
}
.menus li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: lighter;
}
.menus li a:hover{
    text-decoration: underline;
}
/* ============================================================================== */

/* banner styles down here  */
.banner-container{
    height: 100vh;
    background-image: url("./asset/image/background.jpg"),linear-gradient(rgba(0, 0, 0, 0.308),rgba(0, 0, 0, 0.384));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-info{
    width: 50vw;
    text-align: center;
}
.primary{
    color: red;
}
.title{
    font-size: 55px;
    font-weight: bold;
    color: white;
}
.description{
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 18px;
}
.btn{
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    text-wrap: nowrap;
}
.bg-primary{
    background-color: red;
    color: white;
}
/* banner styles up here */
/* ============================================================================================== */

/* service section style down here */
.service-container{
    height: 100vh;
    /* width: 100vw; */

    background-image: url("./asset/image/footer-bg.png"),linear-gradient(45deg,rgba(0, 0, 0, 0.979),rgba(0, 0, 0, 0.877));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.left-side-container{
    /* width: 50vw; */
    padding: 50px;
    list-style-position: inside;
}
.service-description{
    width: 50%;
    padding: 10px 0px;

}
.author-container{
    padding: 20px 0px;
    display: flex;
    gap: 40px;
    align-items: center;
}
.profile-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;

   
}
.author-btn{
    padding-left: 40px;
 }
.author-img{
    width: 70px;
    border-radius: 50%;
}

.right-side-container{
    /* width: 50vw; */
}


.all-boxes{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;

}
.box{
    width: 250px;
    height: 200px;
    padding: 50px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 10px;

}

.icon{
    width: 70px;

}
/* service section style up here */
/* ============================================================================================== */
/* appoinment styles down here  */
.service-section{
    position: relative;
}
.appointment-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;

    width: 80vw;
    height: 15vh;
    margin: 0 auto;
    background-color: red;
    color: wheat;
    padding: 20px ;

    border-radius: 10px;
    position: absolute;
    bottom: -1vh;
    right: 50vw ;
    transform: translate(50%, 50%);
    
}

.phone-call{
    display: flex;
    align-items: center;
    gap: 20px;
    border-right: 4px solid white;
    padding-right: 20px;


}
.appoinment-desc{
    font-size: 18px;
}
/* appoinment styles up here  */
/* ============================================================================================ */
/* blogs and news styles down here */
.blogs-container{
    margin: 100px;
}
.blogs-title{
    font-size: 54px;
    text-align: center;
}
.cards{
    margin: 30px 0px;

    display: flex;
    justify-content: space-around;
}
.card{
    width: 300px;
    height: 400px;
    box-shadow: 4px 8px 6px gray;
    border-radius: 10px;
    padding: 10px;

}
.blog-img{
    width: 100%;
    border-radius: 10px;
}
.blog-title{
    padding: 10px 0px;
    text-align: justify;
}
.blog-desc{
    text-align: justify;
    font-size: 18px;
    font-weight: lighter;
}
/* blogs and news styles up here */
